extends layout
include mixins

block content
  +topBar
  .grid-container
    .grid-x.grid-margin-x
      div.cell.small-4
      div.cell.auto
        input#search-input(type='search', name='search_phrase', placeholder='Search', value=search_for)
      div.cell.auto
        button#search-button.button(type='button') Search
        script.
          document.addEventListener('DOMContentLoaded', function() {
            //TODO: captcha
            const searchInput = document.getElementById('search-input');
            const searchButton = document.getElementById('search-button');

            searchButton.addEventListener('click', performSearch);
            
            searchInput.addEventListener('keypress', function(event) {
              if (event.key === 'Enter') {
                performSearch();
              }
            });

            function performSearch() {
              const searchPhrase = searchInput.value;
              if (searchPhrase) {
                window.location.href = '/search/' + encodeURIComponent(searchPhrase);
              }
            }
          });
      div.cell.small-4
  if questions.length > 0
    .grid-container
      .grid-x.grid-margin-x
        h1 Search Results
    .grid-container
      each question in questions
        .question-container
          a(href=question.canonical)
            h4= question.title
            p

          .flex-container
            if question.image_url
              .image-container
                img(src=question.image_url, alt='Image', height='64px', width='64px', style='margin-right:10px;')
            .description-container
              p Description: #{question.description}
  +siteFooter
